torch
torchvision
numpy
matplotlib
svgwrite
cairosvg
IPython
six
tensorflow
tensorboardX
pillow
svglib
tqdm
jupyter
scikit-image
pandas
networkx
moviepy
numba
scikit-learn
umap-learn
umap-learn[plot]
shapely
kivy